<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Board - ' + ${category}">Board</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="board-list">
    <h1 th:text="${category} + ' 게시판'">게시판</h1>
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th>Views</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}">
            <td th:text="${board.postNo}"></td>
            <td><a th:href="@{|/board/${category}/post/${board.postNo}|}" th:text="${board.title}"></a></td>
            <td th:text="${board.memberNickName}"></td>
            <td th:text="${#dates.format(board.postDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${board.postViews}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{|/board/${category}/create|}" class="btn">Create New Post</a>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="/js/main.js"></script>
</body>
</html>
