<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h1> 기본화면</h1>
<h1> index </h1>
<div>
    <a sec:authorize="isAnonymous()" th:href="@{/api/user/register}">회원가입</a>
</div>
<div>
    <a sec:authorize="isAnonymous()" th:href="@{/api/auth/login}">로그인</a>
</div>
<div sec:authorize="isAuthenticated()">
    <a>[[ | ${ #authentication.principal.memberEntity.memberNickName } / ${ #authentication.principal.memberEntity.regDate } | ]]</a>
    <form th:action="@{/api/auth/logout}" method="post">
        <button>로그아웃</button>
    </form>
</div>
<div>
    <a sec:authorize="isAuthenticated()" th:href="@{/api/user/mypage}">my</a>
</div>
</body>
</html>