<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Content</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<section th:fragment="mainContent">
    <article class="a1"><img src="/templates/imeges/article01.jpg"/></article>

    <article class="a2">
        <div class="image-container">
            <img src="/templates/imeges/bestBoard.jpg" alt="Best Board" href="베스트게시판주소">
            <img src="/templates/imeges/PlaythroughBoard.jpg" alt="Playthrough Board" href="공략게시판주소">
            <img src="/templates/imeges/NotificationBoard.jpg" alt="Notification Board" href="공지게시판주소">
            <img src="/templates/imeges/FreeBoard.jpg" alt="Free Board" href="자유게시판주소">
        </div>
    </article>
    <article class="a3">
        <div class="board-container">
            <div class="board">
                <h3>게시판 1</h3>
                <ul class="post-list">
                    <a href="#" target="_blank"><li class="post-item">긴긴강이 화이팅!</li></a>
                    <a href="#" target="_blank"><li class="post-item">글 제목 2</li></a>
                    <a href="#" target="_blank"><li class="post-item">글 제목 3</li></a>
                    <a href="#" target="_blank"><li class="post-item">글 제목 4</li></a>
                    <a href="#" target="_blank"><li class="post-item">글 제목 5</li></a>
                    <a href="#" target="_blank"><li class="post-item">글 제목 6</li></a>
                    <a href="#" target="_blank"><li class="post-item">글 제목 7</li></a>
                    <a href="#" target="_blank"><li class="post-item">글 제목 8</li></a>
                    <a href="#" target="_blank"><li class="post-item">글 제목 9</li></a>
                    <a href="#" target="_blank"><li class="post-item">글 제목 10</li></a>
                    <a href="#" target="_blank"><li class="post-item">글 제목 11</li></a>
                    <a href="#" target="_blank"><li class="post-item">글 제목 12</li></a>
                </ul>
            </div>
            <div class="board">
                <h3>게시판 2</h3>
                <ul class="post-list">
                    <a href="#" target="_blank"><li class="post-item">글 제목 1</li></a>
                    <a href="#" target="_blank"><li class="post-item">글 제목 2</li></a>
                    <a href="#" target="_blank"><li class="post-item">글 제목 3</li></a>
                    <a href="#" target="_blank"><li class="post-item">글 제목 4</li></a>
                    <a href="#" target="_blank"><li class="
