<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div th:fragment="loginForm">
    <div class="login">
        <form class="login-form">
            <label style="text-align: left">아이디</label>
            <input type="text" name="userId" id="userId" placeholder="아이디" class="login-id">

            <br>
            <br>
            <label style="text-align: left">비밀번호</label>
            <input type="password" name="password" id="password" placeholder="비밀번호" class="login-password">

            <div style="margin-top: 10px;">
                <a sec:authorize="isAnonymous()" th:href="@{/auth/login}"><button class="button-login" type="submit">로그인</button></a>
                <a sec:authorize="isAnonymous()" th:href="@{/user/register}"><button class="button-signup" type="submit">회원가입</button></a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
