<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div th:fragment="sidebar">
    <div class="sidebar">
        <nav>
            <ul>
                <li><a href="#battleground">배틀그라운드</a></li>
                <li><a href="#callOfDuty">콜오브듀티</a></li>
                <li><a href="#battleFeild">배틀필드</a></li>
                <li><a href="#counterStrike">카운터스트라이크</a></li>
            </ul>
            <img src="/templates/imeges/list.png" class="list">
        </nav>
    </div>
</div>
</body>
</html>
